body{
    background-color: #7b5de6;
    font-family: 'Raleway', sans-serif;
    width: 1200px;
    margin: auto
}
a{
    color:#00ff11;
    font-size: 50px;
    display:block;
    text-decoration: none;
}
#centered-header{
    text-align: center;
    color: #000000;
    margin: 12.5px
}
#right{
border-radius: 287px;
margin-top: 125px
}
#down{
    margin-top: 29px
}#header{
    margin: auto;
    background-color: #00ffea;
    height: 62.5px;
    padding-top: 15px;
    padding-bottom: 15px
}
#menu a {
    font-size: 23px;
    color: #000000;
    font-weight: bold;
    display: inline;
    margin-right: 50px
}
#menu{
    margin-top: 12.5px;
    background-color:#00ffea;
}
.SPACEBAR{
    margin-top: 50px;
    margin-bottom: 1px;
    /* width: 500px; */
    font-size: 25px;
    font-weight: bold;
}
.NOOOOOOOO{
    margin-top: 0px;
    /* width: 500px; */
    font-size: 25px;
    font-weight: bold;
}
.TAB{
    margin-top: 50px
}
#oof{
    float:  right;
    Margin-top:600px;
    margin-left: 30px
}
#bigC{
width:610px;
display: inline-block; 
float: left;
}
.Bolder{
    font-weight: bolder
}